In [1]:
import pandas as pd
import numpy as np

In [2]:
num_train = pd.read_hdf('input_hdf/train_numeric.hdf5','table')

In [3]:
num_train.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4.0,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,7.0,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,9.0,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,11.0,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [4]:
na_count = num_train.isnull().sum()

In [5]:
(na_count>1100000).sum()

634

In [6]:
num_train.shape

(1183747, 970)

In [7]:
970-634

336

In [8]:
hashed = num_train.apply(lambda x: hash(tuple(x)), axis = 0)

In [9]:
hashed.unique().shape,hashed.shape

((929,), (970,))

In [10]:
hashed_df = pd.DataFrame(hashed)
hashed_df.columns = ['hash']
hashed_df['column'] = hashed_df.index
hashed_df.reset_index(drop=True,inplace=True)

In [11]:
hashed_df.to_csv('num_hashed_df.csv',index=False)