In [1]:
import pandas as pd
import numpy as np

In [2]:
date_train = pd.read_hdf('input_hdf/train_date.hdf5','table')

In [5]:
date_train.head()

,Id,L0_S0_D1,L0_S0_D3,L0_S0_D5,L0_S0_D7,L0_S0_D9,L0_S0_D11,L0_S0_D13,L0_S0_D15,L0_S0_D17,...,L3_S50_D4246,L3_S50_D4248,L3_S50_D4250,L3_S50_D4252,L3_S50_D4254,L3_S51_D4255,L3_S51_D4257,L3_S51_D4259,L3_S51_D4261,L3_S51_D4263
0,4.0,82.239998,82.239998,82.239998,82.239998,82.239998,82.239998,82.239998,82.239998,82.239998,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0
1,6.0,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0
2,7.0,1618.699951,1618.699951,1618.699951,1618.699951,1618.699951,1618.699951,1618.699951,1618.699951,1618.699951,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0
3,9.0,1149.199951,1149.199951,1149.199951,1149.199951,1149.199951,1149.199951,1149.199951,1149.199951,1149.199951,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0
4,11.0,602.640015,602.640015,602.640015,602.640015,602.640015,602.640015,602.640015,602.640015,602.640015,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0

In [4]:
date_train.fillna(-999999,inplace=True)

In [7]:
na_count = date_train.isnull().sum()

In [11]:
(na_count>1100000).sum()

762

In [6]:
date_train.shape

(1183747, 1157)

In [12]:
1157-762

395

In [7]:
hashed = date_train.apply(lambda x: hash(tuple(x)), axis = 0)

In [8]:
hashed.unique().shape,hashed.shape

((162,), (1157,))

In [10]:
hashed_df = pd.DataFrame(hashed)
hashed_df.columns = ['hash']
hashed_df['column'] = hashed_df.index
hashed_df.reset_index(drop=True,inplace=True)

In [16]:
hashed_df.to_csv('date_hashed_df.csv',index=False)

In [12]:
hashed_date_unq = hashed_df.drop_duplicates(subset='hash',keep='first')

In [14]:
hashed_date_unq.head()

                   hash     column
0  -8179083408896920552         Id
1   4819478140584969564   L0_S0_D1
13  4528888709979328646  L0_S1_D26
14  7891462505238026686  L0_S1_D30
15  6432904867978465813  L0_S2_D34

In [15]:
df2 = pd.read_hdf('input_hdf/train_date_162cols.hdf5','table')

In [18]:
len(set(hashed_date_unq.column.values)-set(df2.columns.values))

0