In [1]:
import pandas as pd
import numpy as np
import numpy

In [2]:
num_unq = pd.read_csv('input_hdf/num_unq.csv')
cat_unq = pd.read_csv('input_hdf/cat_unq.csv')
date_unq = pd.read_csv('input_hdf/date_unq.csv')

In [ ]:
num_train = pd.read_csv('input_orig/train_numeric.csv', dtype=np.float32)

In [ ]:
num_train.fillna(-999999,inplace=True)

In [ ]:
num_train.shape

In [ ]:
#now, let's find features with no variance 
toKeep = []
toDelete = []
## loop through the DataFrame's columns
for col in num_train:
    ## if the value_counts method returns more than one uniqe entity,
    ## append the column name to 'toKeep'
    if len(num_train[col].value_counts()) > 1:
        toKeep.append(col)
    ## if not, append to 'toDelete'.
    else:
        toDelete.append(col)

In [ ]:
num_train.drop(toDelete, 1, inplace = True)

In [ ]:
num_train.shape

In [ ]:
corr_matrix = num_train.corr()
corr_matrix.to_csv('corr_matrix_numeric_unique.csv')
# substitude the entire matrix for a triangular matrix for faster
# computation
corr_matrix.ix[:,:] =  numpy.tril(corr_matrix.values, k = -1)
## create catcher objects to find lists of what is perfectly correlated
already_in = set()
result = []
for col in corr_matrix:
    perfect_corr = corr_matrix[col][abs(numpy.round(corr_matrix[col],10)) == 1.00].index.tolist()
    if perfect_corr and col not in already_in:
        already_in.update(set(perfect_corr))
        perfect_corr.append(col)
        result.append(perfect_corr)

toRemove = []
for item in result:
    toRemove.append(item[1:(len(item)+1)])
# flattenign the list of lists
toRemove = sum(toRemove, [])

In [ ]:
num_train.drop(toRemove, 1, inplace = True)

In [ ]:
num_train.shape

In [ ]:
num_train.to_hdf('train_numeric_20cols.hdf5','table')

In [ ]:
num_test = pd.read_csv('input_orig/test_numeric.csv', usecols=num_train.columns.values[0:-1], dtype=np.float32)

In [ ]:
num_test.shape

In [ ]:
num_test.to_hdf('test_numeric_20cols.hdf5','table')

In [ ]:
corr_matrix = pd.read_csv('input_hdf/corr_matrix_numeric_unique.csv')

indd = corr_matrix['Unnamed: 0']
corr_matrix.drop(['Unnamed: 0'],axis=1,inplace=True)

corr_matrix.index = indd

corr_matrix.index.name = None

In [ ]:
# substitude the entire matrix for a triangular matrix for faster
# computation
corr_matrix.ix[:,:] =  numpy.tril(corr_matrix.values, k = -1)
## create catcher objects to find lists of what is perfectly correlated
already_in = set()
result = []
for col in corr_matrix:
    perfect_corr = corr_matrix[col][abs(corr_matrix[col]) == 1.00].index.tolist()
    #perfect_corr = corr_matrix[col][abs(numpy.round(corr_matrix[col],1)) == 1.00].index.tolist()
    if perfect_corr and col not in already_in:
        already_in.update(set(perfect_corr))
        perfect_corr.append(col)
        result.append(perfect_corr)

In [ ]:
toRemove = []
for item in result:
    toRemove.append(item[1:(len(item)+1)])
# flattenign the list of lists
toRemove = sum(toRemove, [])

In [ ]:
num_train = pd.read_csv('input_orig/train_numeric.csv', dtype=np.float32)
num_train.fillna(-999999,inplace=True)

In [ ]:
num_train.drop(toRemove, 1, inplace = True)
num_train.shape

In [ ]:
num_train.to_hdf('train_numeric_928cols.hdf5','table')

In [ ]:
num_test = pd.read_csv('input_orig/test_numeric.csv', usecols=num_train.columns.values[0:-1], dtype=np.float32)

In [ ]:
num_test.shape

In [ ]:
num_test.to_hdf('test_numeric_928cols.hdf5','table')

In [3]:
num_train = pd.read_hdf('train_numeric_928cols.hdf5','table')
#num_train.fillna(-999999,inplace=True)

In [4]:
num_train.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4.0,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,0.0
1,6.0,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,0.0
2,7.0,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,0.0
3,9.0,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,0.0
4,11.0,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,0.0

In [5]:
num_test = pd.read_csv('input_orig/test_numeric.csv', usecols=num_train.columns.values[0:-1], dtype=np.float32)

In [8]:
num_test.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4243,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262
0,1.0,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,-999999.0,-999999.000,-999999.000,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0
1,2.0,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,-999999.0,-999999.000,-999999.000,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0
2,3.0,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,-999999.0,-999999.000,-999999.000,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0
3,5.0,-0.016,-0.026,-0.033,-0.016,0.205,-0.157,0.0,0.008,0.087,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0
4,8.0,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,-999999.000,-999999.0,-999999.000,-999999.000,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0

In [7]:
num_test.fillna(-999999,inplace=True)

In [9]:
num_test.shape

(1183748, 927)

In [10]:
num_test.to_hdf('test_numeric_928cols.hdf5','table')