In [1]:
import pandas as pd
import numpy as np

In [2]:
#tr_line_station_minmax = pd.read_hdf('feats/tr_line_station_minmax8.hdf5','table')
te_line_station_minmax = pd.read_hdf('feats/te_line_station_minmax8.hdf5','table')

In [3]:
te_line_station_minmax = te_line_station_minmax.filter(regex='date')

In [4]:
#te_line_station_minmax = te_line_station_minmax.filter(regex='date')
#df_line = tr_line_station_minmax.filter(regex='L')
#df_line.values.sort()

In [5]:
import gc
gc.collect()

7

In [6]:
te_line_station_minmax.columns

Index(['S17_max_date', 'S17_min_date', 'S48_max_date', 'S48_min_date',
       'S23_max_date', 'S23_min_date', 'S10_max_date', 'S10_min_date',
       'S18_max_date', 'S18_min_date',
       ...
       'S33_max_date', 'S33_min_date', 'L0_max_date', 'L0_min_date',
       'L2_max_date', 'L2_min_date', 'L1_max_date', 'L1_min_date',
       'L3_max_date', 'L3_min_date'],
      dtype='object', length=112)

In [7]:
lst = []
for i in range(52):
    s = 'S'+str(51-i)
    lst.append(s)
from itertools import combinations
comb = combinations(lst, 2)

In [8]:
new_features = pd.DataFrame({})
for i in list(comb):
    s1 = 'dd_'+str(i[0])+'_'+str(i[1])
    s2 = str(i[0])+'_min_date'
    s3 = str(i[1])+'_max_date'
    new_features[s1] = (te_line_station_minmax[s2] - te_line_station_minmax[s3]).astype(np.float32)

In [9]:
new_features.shape

(1183748, 1326)

In [ ]:
new_features.fillna(-2000,inplace=True)

In [ ]:
#now, let's find features with no variance 
toKeep = []
toDelete = []
## loop through the DataFrame's columns
for col in new_features:
    ## if the value_counts method returns more than one uniqe entity,
    ## append the column name to 'toKeep'
    if len(new_features[col].value_counts()) > 1:
        toKeep.append(col)
    ## if not, append to 'toDelete'.
    else:
        toDelete.append(col)

In [ ]:
new_features.drop(toDelete, 1, inplace = True)

In [ ]:
new_features.shape

In [ ]:
#hashed = new_features.apply(lambda x: hash(tuple(x)), axis = 0)

In [ ]:
#hashed.unique().shape,hashed.shape

In [ ]:
#corr_matrix = new_features.corr()
#corr_matrix.to_csv('corr_matrix_date_minmax_diffs.csv')

In [ ]:
corr_matrix = pd.read_csv('corr_matrix_date_minmax_diffs.csv')

In [ ]:
# substitude the entire matrix for a triangular matrix for faster
# computation
corr_matrix.ix[:,:] =  np.tril(corr_matrix.values, k = -1)
## create catcher objects to find lists of what is perfectly correlated
already_in = set()
result = []
for col in corr_matrix:
    perfect_corr = corr_matrix[col][abs(corr_matrix[col]) == 1.00].index.tolist()
    if perfect_corr and col not in already_in:
        already_in.update(set(perfect_corr))
        perfect_corr.append(col)
        result.append(perfect_corr)

toRemove = []
for item in result:
    toRemove.append(item[1:(len(item)+1)])
# flattenign the list of lists
toRemove = sum(toRemove, [])

In [ ]:
new_features.drop(toRemove, 1, inplace = True)

In [ ]:
new_features.shape

In [15]:
lst = []
for i in range(4):
    s = 'L'+str(3-i)
    lst.append(s)
from itertools import combinations
comb = combinations(lst, 2)

In [16]:
new_features1 = pd.DataFrame({})
for i in list(comb):
    s1 = 'dd_'+str(i[0])+'_'+str(i[1])
    s2 = str(i[0])+'_min_date'
    s3 = str(i[1])+'_max_date'
    new_features1[s1] = (te_line_station_minmax[s2] - te_line_station_minmax[s3]).astype(np.float32)

In [ ]:
new_features1.fillna(-2000,inplace=True)

In [ ]:
#now, let's find features with no variance 
toKeep = []
toDelete = []
## loop through the DataFrame's columns
for col in new_features1:
    ## if the value_counts method returns more than one uniqe entity,
    ## append the column name to 'toKeep'
    if len(new_features1[col].value_counts()) > 1:
        toKeep.append(col)
    ## if not, append to 'toDelete'.
    else:
        toDelete.append(col)

In [ ]:
new_features1.drop(toDelete, 1, inplace = True)

In [17]:
new_features1.shape

(1183748, 6)

In [18]:
featss1 = pd.concat([new_features,new_features1],axis=1)

In [ ]:
featss.replace(-2000,np.nan,inplace=1)

In [19]:
featss1.shape

(1183748, 1332)

In [23]:
featss.to_hdf('feats/te_time_diff_adjacent12.hdf5','table')

In [10]:
featss = pd.read_hdf('feats/tr_time_diff_adjacent12.hdf5','table')

In [13]:
feat = featss.columns

In [20]:
featss = featss1[feat]

In [22]:
featss.head()

,dd_S51_S50,dd_S51_S49,dd_S51_S48,dd_S51_S47,dd_S51_S46,dd_S51_S45,dd_S51_S44,dd_S51_S43,dd_S51_S42,dd_S51_S41,...,dd_S3_S0,dd_S2_S1,dd_S2_S0,dd_S1_S0,dd_L3_L2,dd_L3_L1,dd_L3_L0,dd_L2_L1,dd_L2_L0,dd_L1_L0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.930054,7.880005,NaN,1.949951,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14.080078,34.400024,NaN,20.319946,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.830017,38.989990,NaN,32.159973,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.01001,0.01001,0.0,0.750000,NaN,0.759995,NaN,0.009995,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.340027,26.869995,NaN,17.529968,NaN,NaN