In [1]:
import pandas as pd
import numpy as np

In [2]:
hash_tr = pd.read_csv('hash_tr.csv')
hash_te = pd.read_csv('hash_te.csv')

In [3]:
y_tr = pd.read_csv('../input_orig/train_numeric.csv', usecols=['Response'])

In [ ]:
hash_tr.index = hash_tr.Id
hash_te.index = hash_te.Id
hash_tr.drop(['Id'],axis=1,inplace=True)
hash_te.drop(['Id'],axis=1,inplace=True)

In [4]:
hash_tr.columns = ['Id','hash']
hash_te.columns = ['Id','hash']

In [5]:
hash_tr['Response'] = y_tr
hash_te['Response'] = -1

In [6]:
hash_full = pd.concat([hash_tr,hash_te],ignore_index=True)

In [20]:
#hash_full.sort_values('hash')

In [8]:
#-685269723605016139
hash_full[hash_full.hash==-4721958747418963572].Response.value_counts()

 1    3
-1    1
Name: Response, dtype: int64

In [9]:
hash_full.hash.value_counts().shape

(2272148,)

In [10]:
indd1 = hash_full[hash_full.Response==1].hash.value_counts().index

In [11]:
hash_full.Response.value_counts()

-1    1183748
 0    1176868
 1       6879
Name: Response, dtype: int64

In [12]:
6879-6544

335

In [13]:
hash_full[hash_full.hash.isin(indd1)].Response.value_counts()

 1    6879
-1    2309
 0    1622
Name: Response, dtype: int64

In [14]:
1622/(6879+1622)

0.1908010822256205

In [15]:
2309*0.1908

440.55719999999997

In [16]:
hash_full[hash_full.Response==1].hash.value_counts().shape

(6544,)

In [17]:
df_tmp = pd.DataFrame(hash_full[hash_full.Response==1].hash.value_counts())

In [18]:
indd2 = df_tmp[df_tmp.hash==1].index

In [19]:
hash_full[hash_full.hash.isin(indd2)].Response.value_counts()

 1    6218
-1    1689
 0    1038
Name: Response, dtype: int64

In [20]:
1038/(1038+6218)

0.1430540242557883

In [21]:
1689*0.1430

241.527

In [22]:
df_tmp2 = pd.DataFrame(hash_full[hash_full.Response==-1].hash.value_counts())

In [23]:
indd3 = df_tmp2[df_tmp2.hash==1].index

In [24]:
len(set(indd2)&set(indd3))

1618

In [25]:
indd4 = list(set(indd2)&set(indd3))

In [26]:
hash_full[hash_full.hash.isin(indd4)].Response.value_counts()

 1    1618
-1    1618
 0      33
Name: Response, dtype: int64

In [27]:
33/(1618+33)

0.019987886129618413

In [28]:
indd5 = df_tmp[df_tmp.hash==2].index

In [29]:
indd6 = list(set(indd5)-set(df_tmp2.index))

In [30]:
hash_full[hash_full.hash.isin(indd6)].Response.value_counts()

1    598
0      2
Name: Response, dtype: int64

In [33]:
#hash_full[hash_full.hash.isin(indd4)].sort_values('Id')

In [34]:
df_tmp3 = hash_full[hash_full.hash.isin(indd4)]

In [40]:
df_tmp4 = df_tmp3[df_tmp3.Response==-1]

In [44]:
idd1 = df_tmp4.Id.values

In [51]:
idd1

array([   1249,    1352,    3586, ..., 2365869, 2366125, 2366693])

In [113]:
sub = pd.read_csv('../input_orig/sample_submission.csv')

In [54]:
sub1 = pd.Series(0.0,index=sub.Id.values)

In [63]:
sub1[idd1] = 1.0

In [80]:
sub['Response'] = sub1.values

In [81]:
sub.Response.value_counts()

0.0    1182130
1.0       1618
Name: Response, dtype: int64

In [117]:
sub[sub.Id==67]

    Id  Response
41  67         0

In [118]:
sub.to_csv('sub.csv',index=False)

In [119]:
!zip sub.csv.zip sub.csv

  adding: sub.csv (deflated 75%)

In [92]:
sub.Response = sub.Response.astype(np.int8)

In [100]:
!gunzip 427646_pred_bst3_submission.csv.gz

In [101]:
df_tmp6 = pd.read_csv('427646_pred_bst3_submission.csv')

In [105]:
df_tmp6[df_tmp6.Id.isin(idd1)].Response.value_counts()

0    1033
1     585
Name: Response, dtype: int64

In [108]:
sub2 = pd.Series(df_tmp6.Response.values,index=sub.Id.values)

In [111]:
sub2[idd1] = 1

In [114]:
sub['Response'] = sub2.values

In [115]:
sub.Response.value_counts()

0    1180530
1       3218
Name: Response, dtype: int64