In [1]:
import pandas as pd
import numpy as np

In [2]:
#df_tr = pd.read_hdf('../input_hdf/df_tr_with_faron.hdf5','table')
df_te = pd.read_hdf('../input_hdf/df_te_with_faron.hdf5','table')

In [3]:
#y = pd.read_csv('../input_orig/train_numeric.csv', usecols=['Response'])

#df_tr['Response'] = y
df_te['Response'] = -1
torm = ['StartTime','magic1','magic2','magic3','magic4','Response']
#df = df[df.Response==1]

In [4]:
import gc
gc.collect()

7

In [5]:
#ind_tr = pd.read_csv('../input_orig/train_numeric.csv', usecols=['Id'])
ind_te = pd.read_csv('../input_orig/test_numeric.csv', usecols=['Id'])

In [6]:
#df_tr.index = ind_tr.Id
df_te.index = ind_te.Id

In [7]:
#df_all = pd.concat([df_tr,df_te],axis=0)
df_te.fillna(-999999.0,inplace=True)

In [11]:
df_te.head()

,L0_S1_F27_2,L0_S1_F29_1,L0_S1_F31_2,L0_S1_F31_4,L0_S1_F31_5,L0_S2_F33_1,L0_S2_F35_1,L0_S2_F35_2,L0_S2_F35_3,L0_S2_F35_4,...,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,StartTime,magic1,magic2,magic3,magic4,Response
Id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,-999999.0,-999999.0,-999999.0,-999999.0,792.719971,-2367494,-1,-2324187,-3232,-1
2,0,0,0,0,0,0,0,0,0,0,...,-999999.0,-999999.0,-999999.0,-999999.0,1025.630005,1,-1,-2353739,-5943,-1
3,0,0,0,0,0,0,0,0,0,0,...,-999999.0,-999999.0,-999999.0,-999999.0,671.919983,1,-2,-2357112,-17769,-1
5,0,0,0,0,0,0,0,0,0,0,...,-999999.0,-999999.0,-999999.0,-999999.0,255.449997,2,-3,-2364005,-33948,-1
8,0,0,0,0,0,0,0,0,0,0,...,-999999.0,-999999.0,-999999.0,-999999.0,743.380005,3,-2,-1856001,-132849,-1

In [12]:
#hashes = df_all.apply(lambda x: hash(tuple(x)), axis=0)
hashes = df_te[np.setdiff1d(df_te.columns,torm)].apply(lambda x: hash(tuple(x)), axis=1)

In [13]:
hashes.head()

Id
1   -5020424425443146591
2   -5509747424065139029
3    -415276250881699173
5    2042171446426316135
8   -5743254445300768103
dtype: int64

In [14]:
hashes_df = pd.DataFrame(hashes)

In [15]:
hashes_df.to_csv('hash_te.csv',index_label='Id')

In [ ]:
#df_dup = df_tr.loc[hashes.duplicated()]

In [ ]:
#df_dup[df_dup.Response==1]

In [ ]:
#df_dup = df_all[df_all.duplicated(subset=np.setdiff1d(df_all.columns,torm),keep=False)]
#df_dup.head()