In [1]:
import pandas as pd
import numpy as np

In [2]:
cmdu = pd.read_csv('../input_hdf/corr_matrix_date_unique.csv')

In [3]:
cmdu.head()

,Unnamed: 0,Id,L0_S0_D1,L0_S1_D26,L0_S1_D30,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S4_D111,L0_S5_D115,...,L3_S43_D4082,L3_S44_D4101,L3_S45_D4125,L3_S46_D4135,L3_S47_D4140,L3_S48_D4194,L3_S49_D4208,L3_S49_D4218,L3_S50_D4242,L3_S51_D4255
0,Id,1.000000,-0.009326,-0.009364,-0.009359,-0.005165,-0.005016,-0.004892,-0.004903,-0.005320,...,-0.003365,-0.003067,-0.004465,0.001558,-0.004532,-0.004527,-0.002974,-0.003008,-0.003320,-0.004811
1,L0_S0_D1,-0.009326,1.000000,0.997171,0.997175,0.550374,0.544523,0.545208,0.545149,0.550020,...,0.011837,0.012978,0.018172,0.000799,0.018145,0.018112,0.013220,0.013232,0.012042,0.018626
2,L0_S1_D26,-0.009364,0.997171,1.000000,0.999997,0.550264,0.544709,0.545277,0.545217,0.550028,...,0.011869,0.013076,0.018257,0.000799,0.018230,0.018197,0.013220,0.013232,0.012161,0.018712
3,L0_S1_D30,-0.009359,0.997175,0.999997,1.000000,0.550270,0.544707,0.545278,0.545219,0.550029,...,0.011869,0.013076,0.018257,0.000799,0.018229,0.018197,0.013220,0.013232,0.012160,0.018711
4,L0_S2_D34,-0.005165,0.550374,0.550264,0.550270,1.000000,-0.397217,0.301303,0.301272,0.303177,...,0.009369,0.009225,0.013518,0.001448,0.013476,0.013447,0.010556,0.010580,0.008265,0.013770

In [4]:
tr_date162 = pd.read_hdf('../input_hdf/train_date_162cols.hdf5','table')

In [5]:
tr_date162.replace(-999999.0, np.nan, inplace=True)

In [6]:
tr_date162.head()

,Id,L0_S0_D1,L0_S1_D26,L0_S1_D30,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S4_D111,L0_S5_D115,L0_S6_D120,...,L3_S43_D4082,L3_S44_D4101,L3_S45_D4125,L3_S46_D4135,L3_S47_D4140,L3_S48_D4194,L3_S49_D4208,L3_S49_D4218,L3_S50_D4242,L3_S51_D4255
0,4.0,82.239998,82.239998,82.239998,82.239998,NaN,82.260002,82.260002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7.0,1618.699951,1618.699951,1618.699951,1618.699951,NaN,NaN,NaN,1618.719971,1618.719971,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9.0,1149.199951,1149.199951,1149.199951,1149.209961,NaN,1149.219971,1149.219971,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11.0,602.640015,602.640015,602.640015,NaN,602.640015,602.659973,602.659973,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
resp = pd.read_csv('../input_orig/train_numeric.csv', usecols=['Id','Response'])

In [8]:
tr_date162.insert(1, 'Response', resp.Response.values)

In [9]:
tr_resp1 = tr_date162[tr_date162.Response==1]

In [10]:
tr_resp1.reset_index(drop=True, inplace=True)

In [11]:
#tr_resp1.to_csv('tr_resp1_date.csv', index=False)

In [12]:
tr_date162.head()

,Id,Response,L0_S0_D1,L0_S1_D26,L0_S1_D30,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S4_D111,L0_S5_D115,...,L3_S43_D4082,L3_S44_D4101,L3_S45_D4125,L3_S46_D4135,L3_S47_D4140,L3_S48_D4194,L3_S49_D4208,L3_S49_D4218,L3_S50_D4242,L3_S51_D4255
0,4.0,0,82.239998,82.239998,82.239998,82.239998,NaN,82.260002,82.260002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7.0,0,1618.699951,1618.699951,1618.699951,1618.699951,NaN,NaN,NaN,1618.719971,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9.0,0,1149.199951,1149.199951,1149.199951,1149.209961,NaN,1149.219971,1149.219971,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11.0,0,602.640015,602.640015,602.640015,NaN,602.640015,602.659973,602.659973,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
non_null = tr_date162.count(axis=0).sort_values(ascending=False)

In [14]:
non_null.head()

Id              1183747
Response        1183747
L3_S37_D3942    1120394
L3_S30_D3726    1119811
L3_S30_D3496    1119805
dtype: int64

In [15]:
#tr_162_sorted = tr_date162.sort_values(by='L3_S37_D3942')

In [16]:
#tr_resp2 = tr_162_sorted[tr_162_sorted.Response==1]

In [17]:
#tr_resp2.reset_index(drop=True, inplace=True)

In [18]:
#tr_resp2.to_csv('tr_resp2_date.csv', index=False)

In [25]:
feats = np.setdiff1d(tr_date162.columns, ['Id','Response'])

In [28]:
feats_min = tr_date162[feats].min(axis=1)

In [29]:
tr_date162.insert(2, 'StartTime', feats_min)

In [33]:
tr_1 = tr_date162.sort_values('StartTime')

In [38]:
tr2 = tr_date162.sort_values(['StartTime', 'Id'])

In [40]:
tr2.reset_index(drop=True, inplace=True)

In [43]:
grp2 = tr2.groupby('StartTime')

In [47]:
grp2.size().sort_values().tail()

StartTime
1160.939941    74
368.029999     74
974.669983     75
676.710022     76
993.590027     80
dtype: int64

In [54]:
len(grp2.groups)

64357

In [60]:
tr2[tr2.Response==1].StartTime.unique().shape

(5500,)

In [66]:
tr2[tr2.Response==1].L3_S37_D3942.unique().shape

(5084,)