In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
% matplotlib inline

numeric = "../input_orig/train_numeric.csv"
date = "../input_orig/train_date.csv"

In [2]:
features = pd.read_csv(numeric, nrows=1).drop(['Response', 'Id'], axis=1).columns.values

def orgainize(features):
    line_features = {}
    station_features = {}
    lines = set([f.split('_')[0] for f in features])
    stations = set([f.split('_')[1] for f in features])
    
    for l in lines:
        line_features[l] = [f for f in features if l+'_' in f]
        
    for s in stations:
        station_features[s] = [f for f in features if s+'_' in f]
        
            
    return line_features, station_features

line_features, station_features = orgainize(features)

print("Features in Station 32: {}".format( station_features['S32'] ))

Features in Station 32: ['L3_S32_F3850']

In [3]:
data_num = pd.read_csv(numeric, nrows=100)
data_date = pd.read_csv(date, nrows=100)
features_date = pd.read_csv(date, nrows=1).drop(['Id'], axis=1).columns.values

In [4]:
data_date.columns

Index(['Id', 'L0_S0_D1', 'L0_S0_D3', 'L0_S0_D5', 'L0_S0_D7', 'L0_S0_D9',
       'L0_S0_D11', 'L0_S0_D13', 'L0_S0_D15', 'L0_S0_D17',
       ...
       'L3_S50_D4246', 'L3_S50_D4248', 'L3_S50_D4250', 'L3_S50_D4252',
       'L3_S50_D4254', 'L3_S51_D4255', 'L3_S51_D4257', 'L3_S51_D4259',
       'L3_S51_D4261', 'L3_S51_D4263'],
      dtype='object', length=1157)

In [20]:
new_cols = []
for col in features_date:
    s = col.split('_')
    s_num = int(s[2][1:])-1
    s[2] = 'F' + str(s_num)
    new_cols.append("_".join(s))

In [21]:
len(set(new_cols)&set(data_num.columns))

366

In [7]:
train_num_928_nans = pd.read_hdf('../input_hdf/train_numeric_928cols_NANs.hdf5','table')
train_date_162 = pd.read_hdf('../input_hdf/train_date_162cols.hdf5','table')
train_cat_205 = pd.read_hdf('../input_hdf/train_categorical_205cols.hdf5','table')

In [14]:
train_num_928_nans.drop(['Id'],axis=1,inplace=True)

In [18]:
new_cols1 = []
for col in train_num_928_nans.columns:
    s = col.split('_')
    s1 = s[1:]
    new_cols1.append("_".join(s1))

In [22]:
train_num_928_nans.columns = new_cols1

In [40]:
train_num_928_nans[station_features['S6']].tail()

         L0_S6_F118  L0_S6_F122  L0_S6_F132
1183742           1           1           1
1183743           0           0           0
1183744           1           1           1
1183745           0           0           0
1183746           0           0           0

In [53]:
train_cat_205.L0_S1_F31.unique()

array([0, 2, 4, 5])

In [55]:
train_cat_205.columns

Index(['L0_S1_F27', 'L0_S1_F29', 'L0_S1_F31', 'L0_S2_F33', 'L0_S2_F35',
       'L0_S4_F105', 'L0_S4_F107', 'L0_S4_F108', 'L0_S4_F110', 'L0_S4_F112',
       ...
       'L3_S43_F4063', 'L3_S43_F4064', 'L3_S43_F4081', 'L3_S43_F4084',
       'L3_S44_F4102', 'L3_S46_F4134', 'L3_S47_F4141', 'L3_S49_F4207',
       'L3_S49_F4217', 'L3_S49_F4220'],
      dtype='object', length=204)

In [54]:
train_cat_205.drop(['Id'],axis=1,inplace=True)

In [57]:
train = pd.concat([train_num_928_nans,train_cat_205],axis=1)

In [62]:
features = train.columns.values

def orgainize(features):
    line_features = {}
    station_features = {}
    lines = set([f.split('_')[0] for f in features])
    stations = set([f.split('_')[1] for f in features])
    
    for l in lines:
        line_features[l] = [f for f in features if l+'_' in f]
        
    for s in stations:
        station_features[s] = [f for f in features if s+'_' in f]
        
            
    return line_features, station_features

line_features, station_features = orgainize(features)

print("Features in Station 32: {}".format( station_features['S32'] ))

Features in Station 32: ['L3_S32_F3850', 'L3_S32_F3851', 'L3_S32_F3853', 'L3_S32_F3854']

In [58]:
train.head()

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L3_S43_F4063,L3_S43_F4064,L3_S43_F4081,L3_S43_F4084,L3_S44_F4102,L3_S46_F4134,L3_S47_F4141,L3_S49_F4207,L3_S49_F4217,L3_S49_F4220
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [63]:
train_date_162.head()

,Id,L0_S0_D1,L0_S1_D26,L0_S1_D30,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S4_D111,L0_S5_D115,L0_S6_D120,...,L3_S43_D4082,L3_S44_D4101,L3_S45_D4125,L3_S46_D4135,L3_S47_D4140,L3_S48_D4194,L3_S49_D4208,L3_S49_D4218,L3_S50_D4242,L3_S51_D4255
0,4.0,82.239998,82.239998,82.239998,82.239998,-999999.000000,82.260002,82.260002,-999999.000000,-999999.000000,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0
1,6.0,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0
2,7.0,1618.699951,1618.699951,1618.699951,1618.699951,-999999.000000,-999999.000000,-999999.000000,1618.719971,1618.719971,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0
3,9.0,1149.199951,1149.199951,1149.199951,1149.209961,-999999.000000,1149.219971,1149.219971,-999999.000000,-999999.000000,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0
4,11.0,602.640015,602.640015,602.640015,-999999.000000,602.640015,602.659973,602.659973,-999999.000000,-999999.000000,...,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0,-999999.0

In [61]:
train_date_162.ix[1]

Id                   6.000000
L0_S0_D1       -999999.000000
L0_S1_D26      -999999.000000
L0_S1_D30      -999999.000000
L0_S2_D34      -999999.000000
L0_S3_D70      -999999.000000
L0_S4_D106     -999999.000000
L0_S4_D111     -999999.000000
L0_S5_D115     -999999.000000
L0_S6_D120     -999999.000000
L0_S7_D137     -999999.000000
L0_S8_D145     -999999.000000
L0_S9_D152     -999999.000000
L0_S9_D157     -999999.000000
L0_S9_D162     -999999.000000
L0_S9_D167     -999999.000000
L0_S10_D216    -999999.000000
L0_S10_D221    -999999.000000
L0_S10_D231    -999999.000000
L0_S11_D280    -999999.000000
L0_S12_D331       1313.119995
L0_S13_D355       1313.119995
L0_S14_D360       1313.119995
L0_S15_D395    -999999.000000
L0_S16_D423       1313.140015
L0_S17_D432    -999999.000000
L0_S18_D437       1313.150024
L0_S19_D454    -999999.000000
L0_S20_D462       1313.150024
L0_S21_D469       1313.150024
                    ...
L3_S30_D3566      1315.729980
L3_S30_D3726      1315.729980
L3_S31_D3836   -999999.000000
L3_S32_D3852   -999999.000000
L3_S33_D3856      1315.750000
L3_S34_D3875      1315.750000
L3_S35_D3886      1315.750000
L3_S35_D3895      1315.750000
L3_S35_D3900      1315.750000
L3_S36_D3919   -999999.000000
L3_S36_D3928   -999999.000000
L3_S37_D3942      1315.750000
L3_S38_D3953   -999999.000000
L3_S39_D3966   -999999.000000
L3_S40_D3981   -999999.000000
L3_S40_D3985   -999999.000000
L3_S41_D3997   -999999.000000
L3_S42_D4029   -999999.000000
L3_S42_D4045   -999999.000000
L3_S43_D4062   -999999.000000
L3_S43_D4082   -999999.000000
L3_S44_D4101   -999999.000000
L3_S45_D4125   -999999.000000
L3_S46_D4135   -999999.000000
L3_S47_D4140   -999999.000000
L3_S48_D4194   -999999.000000
L3_S49_D4208   -999999.000000
L3_S49_D4218   -999999.000000
L3_S50_D4242   -999999.000000
L3_S51_D4255   -999999.000000
Name: 1, dtype: float32

In [94]:
train[station_features['S5']].ix[1]

L0_S5_F114    0
L0_S5_F116    0
Name: 1, dtype: int8