In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_hdf('all_feat_folder/full_combined_train_3237cols.hdf5','table')

In [216]:
df_train.head()

,L0_S1_F27_2,L0_S1_F29_1,L0_S1_F31_4,L0_S1_F31_5,L0_S2_F33_1,L0_S2_F35_1,L0_S2_F35_2,L0_S2_F35_3,L0_S2_F35_4,L0_S2_F35_5,...,dd_L3_L1,dd_L3_L0,dd_L2_L1,dd_L2_L0,dd_L1_L0,hash_full_date,hash_full_num,hash_full_cat,hash_full_all,hash_full_num_cat
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,4.990005,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,2.579956,NaN,NaN,NaN,1.0,1.0,0.0,1.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,5.670044,NaN,NaN,NaN,2.0,2.0,1.0,2.0,2.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,4.900024,NaN,NaN,NaN,3.0,3.0,1.0,3.0,3.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,3.330017,NaN,NaN,NaN,4.0,4.0,1.0,4.0,4.0

In [301]:
#df_train.ix[:,0:50]
df1 = df_train[toRemove].sample(frac=0.001)

In [302]:
df1.fillna(-9999999.0, inplace=True)

In [303]:
corr_matrix = df1.corr()

In [304]:
# substitude the entire matrix for a triangular matrix for faster
# computation
corr_matrix.ix[:,:] =  np.tril(corr_matrix.values, k = -1)
## create catcher objects to find lists of what is perfectly correlated
already_in = set()
result = []
for col in corr_matrix:
    a = corr_matrix[col][abs(corr_matrix[col]) == 1.00].index.tolist()
    b = corr_matrix[col][corr_matrix[col]==np.nan].index.tolist()
    perfect_corr = a + b
    result.append(perfect_corr)

toRemove = []
for item in result:
    toRemove.append(item[0:(len(item)+1)])
# flattenign the list of lists
toRemove = list(set(sum(toRemove, [])))

In [305]:
#result
len(already_in),len((toRemove))

(0, 63)