In [1]:
import pandas as pd
import numpy as np

In [ ]:
df_tr0 = pd.read_hdf('../../input_hdf/df_tr_with_faron.hdf5','table').astype(np.float32)
df_tr1 = pd.read_hdf('../../search/feats/tr_station_pass1.hdf5','table').astype(np.float32)
df_tr2 = pd.read_hdf('../../search/feats/tr_line_pass2.hdf5','table').astype(np.float32)
df_tr3 = pd.read_hdf('../../search/feats/tr_number_stations_passed3.hdf5','table').astype(np.float32)
df_tr4 = pd.read_hdf('../../search/feats/tr_nonNaN_full4.hdf5','table').astype(np.float32)
df_tr5 = pd.read_hdf('../../search/feats/tr_sum_full5.hdf5','table').astype(np.float32)
df_tr6 = pd.read_hdf('../../search/feats/tr_line_station_nonNaN6.hdf5','table').astype(np.float32)
df_tr7 = pd.read_hdf('../../search/feats/tr_line_station_sum7.hdf5','table').astype(np.float32)
df_tr8 = pd.read_hdf('../../search/feats/tr_line_station_minmax8.hdf5','table').astype(np.float32)
df_tr9 = pd.read_hdf('../../search/feats/tr_minmaxdiff_full_date9.hdf5','table').astype(np.float32)
df_tr10 = pd.read_hdf('../../search/feats/tr_line_station_diff_date10.hdf5','table').astype(np.float32)
df_tr12 = pd.read_hdf('../../search/feats/tr_time_diff_adjacent12.hdf5','table').astype(np.float32)
df_tr13 = pd.read_hdf('../../search/feats/tr_hash_full_date_num_cat13.hdf5','table').astype(np.float32)

df_train = pd.concat([df_tr0,df_tr1,df_tr2,df_tr3,df_tr4,df_tr5,df_tr6,df_tr7,df_tr8,df_tr9,df_tr10,df_tr12,df_tr13],axis=1)

del df_tr0,df_tr1,df_tr2,df_tr3,df_tr4,df_tr5,df_tr6,df_tr7,df_tr8,df_tr9,df_tr10,df_tr12,df_tr13
import gc
gc.collect()

In [ ]:
df_train.shape

In [ ]:
df_train.head()

In [ ]:
df_train.fillna(-9999999.0,inplace=True)

#now, let's find features with no variance 
toKeep = []
toDelete = []
## loop through the DataFrame's columns
for col in df_train:
    ## if the value_counts method returns more than one uniqe entity,
    ## append the column name to 'toKeep'
    if len(df_train[col].value_counts()) > 1:
        toKeep.append(col)
    ## if not, append to 'toDelete'.
    else:
        toDelete.append(col)

df_train.drop(toDelete, 1, inplace = True)

In [ ]:
df_train.shape

In [ ]:
hashed = df_train.apply(lambda x: hash(tuple(x)), axis = 0)

In [ ]:
hashed.unique().shape,hashed.shape

In [ ]:
hashed_df = pd.DataFrame(hashed)
hashed_df.columns = ['hash123']
hashed_df['column'] = hashed_df.index
hashed_df.reset_index(drop=True,inplace=True)

hashed_unq = hashed_df.drop_duplicates(subset='hash123',keep='first')

df_train = df_train[hashed_unq.column]

df_train.replace(-9999999.0,np.nan,inplace=1)

In [ ]:
df_train.info()

In [ ]:
df_train.to_hdf('all_feat_folder/full_combined_train_3237cols.hdf5','table')

In [ ]:
del df_train
gc.collect()

In [ ]:
df_te0 = pd.read_hdf('../../input_hdf/df_te_with_faron.hdf5','table').astype(np.float32)
df_te1 = pd.read_hdf('../../search/feats/te_station_pass1.hdf5','table').astype(np.float32)
df_te2 = pd.read_hdf('../../search/feats/te_line_pass2.hdf5','table').astype(np.float32)
df_te3 = pd.read_hdf('../../search/feats/te_number_stations_passed3.hdf5','table').astype(np.float32)
df_te4 = pd.read_hdf('../../search/feats/te_nonNaN_full4.hdf5','table').astype(np.float32)
df_te5 = pd.read_hdf('../../search/feats/te_sum_full5.hdf5','table').astype(np.float32)
df_te6 = pd.read_hdf('../../search/feats/te_line_station_nonNaN6.hdf5','table').astype(np.float32)
df_te7 = pd.read_hdf('../../search/feats/te_line_station_sum7.hdf5','table').astype(np.float32)
df_te8 = pd.read_hdf('../../search/feats/te_line_station_minmax8.hdf5','table').astype(np.float32)
df_te9 = pd.read_hdf('../../search/feats/te_minmaxdiff_full_date9.hdf5','table').astype(np.float32)
df_te10 = pd.read_hdf('../../search/feats/te_line_station_diff_date10.hdf5','table').astype(np.float32)
df_te12 = pd.read_hdf('../../search/feats/te_time_diff_adjacent12.hdf5','table').astype(np.float32)
df_te13 = pd.read_hdf('../../search/feats/te_hash_full_date_num_cat13.hdf5','table').astype(np.float32)

df_test = pd.concat([df_te0,df_te1,df_te2,df_te3,df_te4,df_te5,df_te6,df_te7,df_te8,df_te9,df_te10,df_te12,df_te13],axis=1)

del df_te0,df_te1,df_te2,df_te3,df_te4,df_te5,df_te6,df_te7,df_te8,df_te9,df_te10,df_te12,df_te13

In [3]:
df_test.head()

,L0_S1_F27_2,L0_S1_F29_1,L0_S1_F31_2,L0_S1_F31_4,L0_S1_F31_5,L0_S2_F33_1,L0_S2_F35_1,L0_S2_F35_2,L0_S2_F35_3,L0_S2_F35_4,...,dd_L3_L1,dd_L3_L0,dd_L2_L1,dd_L2_L0,dd_L1_L0,hash_full_date,hash_full_num,hash_full_cat,hash_full_all,hash_full_num_cat
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.880005,NaN,1.949951,NaN,NaN,1568.0,1555.0,1760.0,24794.0,24775.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,34.400024,NaN,20.319946,NaN,NaN,264.0,264.0,1760.0,24795.0,24776.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,38.989990,NaN,32.159973,NaN,NaN,7.0,7.0,1760.0,24796.0,24777.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.759995,NaN,0.009995,NaN,410.0,408.0,1760.0,24797.0,24778.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26.869995,NaN,17.529968,NaN,NaN,97.0,97.0,1760.0,24798.0,24779.0

In [4]:
import gc
gc.collect()

448

In [5]:
hashed_unq = pd.read_csv('hashed_unq.csv')

In [6]:
df_test = df_test[hashed_unq.column]

In [7]:
df_test.head()

,L0_S1_F27_2,L0_S1_F29_1,L0_S1_F31_4,L0_S1_F31_5,L0_S2_F33_1,L0_S2_F35_1,L0_S2_F35_2,L0_S2_F35_3,L0_S2_F35_4,L0_S2_F35_5,...,dd_L3_L1,dd_L3_L0,dd_L2_L1,dd_L2_L0,dd_L1_L0,hash_full_date,hash_full_num,hash_full_cat,hash_full_all,hash_full_num_cat
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.880005,NaN,1.949951,NaN,NaN,1568.0,1555.0,1760.0,24794.0,24775.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,34.400024,NaN,20.319946,NaN,NaN,264.0,264.0,1760.0,24795.0,24776.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,38.989990,NaN,32.159973,NaN,NaN,7.0,7.0,1760.0,24796.0,24777.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.759995,NaN,0.009995,NaN,410.0,408.0,1760.0,24797.0,24778.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26.869995,NaN,17.529968,NaN,NaN,97.0,97.0,1760.0,24798.0,24779.0

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1183748 entries, 0 to 1183747
Columns: 3237 entries, L0_S1_F27_2 to hash_full_num_cat
dtypes: float32(3237)
memory usage: 14.3 GB

In [9]:
import gc
gc.collect()

19

In [10]:
df_test.to_hdf('all_feat_folder/full_combined_test_3237cols.hdf5','table')